{% extends 'blog/base.html' %}
{% load markdown_deux_tags %}

{% block content %}
<div>
	<a class="btn query-database-btn" href="{% url 'species_info' %}">Query External Database</a>
</div>
	{% for post in posts %}
	    <div class="post">
	        <div class="date">
	            <p>published: {{ post.published_date }}</p>
	        </div>
	        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
	        <p>{{ post.text|markdown }}</p>
	    </div>
	{% endfor %}
{% endblock %}
